:root{
    --sixty: #F5EFDF;
    --thirty: #111013;
    --ten: #8CC92D;
}

.primaryColor{
    background-color: var(--sixty);
}

.secondaryColor{
    background-color: var(--thirty);
}

.accentColor {
    background-color: var(--ten);
}